PublicTransportApi/bin
PublicTransportApi/obj
PublicTransportApi.Core/bin
PublicTransportApi.Core/obj
PublicTransportApi.Common/bin
PublicTransportApi.Common/obj
PublicTransportApi.Services/bin
PublicTransportApi.Services/obj
