<div class="container-fluid">
  <div class="row margin-bottom-div">
    <div class="col-xs-12 col-sm-10 offset-sm-1">
      <div class="login-form">
        <div class="panel-body login-form">
          <div>
            <h3>Lista użytkowników</h3>
          </div>
          <div class="add-button-div">
            <button class="btn btn-primary">Dodaj użytkownika</button>
          </div>
          <div class="table-responsive-md">
            <table id="dtBasicExample" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th class="th">Id
                  </th>
                  <th class="th">Imię
                  </th>
                  <th class="th">Nazwisko
                  </th>
                  <th class="th">Login
                  </th>
                  <th class="th">Data utworzenia
                  </th>
                  <th class="th">Akcje
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Jan</td>
                  <td>Kowalski</td>
                  <td>jankow</td>
                  <td>2011/04/25</td>
                  <td>
                    <button class="btn btn-warning"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Marek</td>
                  <td>Nowak</td>
                  <td>marnow</td>
                  <td>2011/04/25</td>
                  <td>
                    <button class="btn btn-warning"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Dawid</td>
                  <td>Czarnecki</td>
                  <td>dawcza</td>
                  <td>2011/04/25</td>
                  <td>
                    <button class="btn btn-warning"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>